* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans, sans-serif";
    overscroll-behavior: none;
}

.main-page {
    width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.header-group, .contacts-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts {
    background-color: #395778;
    border-radius: 5%;
    padding: 20px;
}